{"openapi":"3.0.1","info":{"title":"Web Services","description":"Nesta seção são apresentadas as Interfaces de Programação de Aplicações (APIs) para consumo automatizado a partir de sistemas externos.\n\nA interface Swagger UI permite interação direta com cada API para a realização de testes reais através do botão \"Try it out\", de modo a verificar como ela funciona.\n\nOs endpoints (caminhos URL) listados podem ser utilizados observando as seguintes regras:\n\n- **GET:** para buscar dados;\n- **Parameters (Parâmetros de entrada):** definem quais dados devem ser enviados e   incluem cabeçalhos (headers) e parâmetros de consulta (query params); e\n- **Responses (Respostas):** detalham o que a API retorna, incluindo o formato de resposta.\n","contact":{"name":"Elotech Gestão Pública","url":"https://www.elotech.com.br","email":"elotech@elotech.com.br"},"license":{"name":"Apache License Version 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"servers":[{"url":"http://servicos.pontagrossa.pr.gov.br/portaltransparencia-api","description":"Generated server url"}],"tags":[{"name":"licitacoes-resource","description":"Acompanhamento de processos licitatórios."},{"name":"servidores-resource","description":"Servidores e folha de pagamento."},{"name":"empenhos-resource","description":"Empenhos do exercício."},{"name":"liquidacoes-resource","description":"Liquidações pagas e a pagar."},{"name":"receitas-resource","description":"Recursos financeiros ingressados."},{"name":"dividas-ativas-resource","description":"Débitos inscritos em dívida ativa."}],"paths":{"/empenhos/lista":{"get":{"tags":["empenhos-resource"],"operationId":"getEmpenhos","parameters":[{"name":"page","in":"query","description":"Número da página (zero-indexed). Ex.: 0 retorna a primeira página.","required":false,"schema":{"type":"integer","format":"int32","example":0}},{"name":"size","in":"query","description":"Quantidade de registros por página (padrão: 20).","required":false,"schema":{"type":"integer","format":"int32","example":20}},{"name":"sort","in":"query","description":"Ordenação no formato `campo,asc|desc`. Aceita múltiplos campos. Campos válidos variam por endpoint.","required":false,"schema":{"type":"string"}},{"name":"params","in":"query","required":true,"schema":{"$ref":"#/components/schemas/EmpenhoParams"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEmpenhosListaDTO"}}}}}}},"/api/servidores":{"get":{"tags":["servidores-resource"],"operationId":"loadServidores","parameters":[{"name":"entidade","in":"header","description":"Código da entidade do município. Obrigatório.","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"exercicio","in":"header","description":"Ano do exercício. Ex.: 2026.","required":true,"schema":{"type":"integer","format":"int64"},"example":2026},{"name":"servidorParams","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ServidorParams"}},{"name":"page","in":"query","description":"Número da página (zero-indexed). Ex.: 0 retorna a primeira página.","required":false,"schema":{"type":"integer","format":"int32","example":0}},{"name":"size","in":"query","description":"Quantidade de registros por página (padrão: 20).","required":false,"schema":{"type":"integer","format":"int32","example":20}},{"name":"sort","in":"query","description":"Ordenação no formato `campo,asc|desc`. Aceita múltiplos campos. Campos válidos variam por endpoint.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageServidorDTO"}}}}}}},"/api/receitas":{"get":{"tags":["receitas-resource"],"operationId":"findReceitas","parameters":[{"name":"params","in":"query","required":true,"schema":{"$ref":"#/components/schemas/FindReceitaParams"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReceitaDTO"}}}}}}}},"/api/liquidacoes/pagas":{"get":{"tags":["liquidacoes-resource"],"operationId":"findLiquidacoesPagas","parameters":[{"name":"entidade","in":"header","description":"Código da entidade do município. Obrigatório.","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"params","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LiquidacaoParams"}},{"name":"page","in":"query","description":"Número da página (zero-indexed). Ex.: 0 retorna a primeira página.","required":false,"schema":{"type":"integer","format":"int32","example":0}},{"name":"size","in":"query","description":"Quantidade de registros por página (padrão: 20).","required":false,"schema":{"type":"integer","format":"int32","example":20}},{"name":"sort","in":"query","description":"Ordenação no formato `campo,asc|desc`. Aceita múltiplos campos. Campos válidos variam por endpoint.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageLiquidacaoDTO"}}}}}}},"/api/liquidacoes/pagar":{"get":{"tags":["liquidacoes-resource"],"operationId":"findLiquidacoesAPagar","parameters":[{"name":"entidade","in":"header","description":"Código da entidade do município. Obrigatório.","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"exercicio","in":"header","description":"Ano do exercício. Ex.: 2026.","required":true,"schema":{"type":"integer","format":"int64"},"example":2026},{"name":"params","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LiquidacaoParams"}},{"name":"page","in":"query","description":"Número da página (zero-indexed). Ex.: 0 retorna a primeira página.","required":false,"schema":{"type":"integer","format":"int32","example":0}},{"name":"size","in":"query","description":"Quantidade de registros por página (padrão: 20).","required":false,"schema":{"type":"integer","format":"int32","example":20}},{"name":"sort","in":"query","description":"Ordenação no formato `campo,asc|desc`. Aceita múltiplos campos. Campos válidos variam por endpoint.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageLiquidacaoDTO"}}}}}}},"/api/licitacoes":{"get":{"tags":["licitacoes-resource"],"operationId":"findListLicitacoes","parameters":[{"name":"entidade","in":"query","description":"Código da entidade do município. Obrigatório.","required":false,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"exercicio","in":"query","description":"Ano do exercício. Ex.: 2026.","required":false,"schema":{"type":"integer","format":"int64"},"example":2026},{"name":"findLicitacaoParams","in":"query","required":true,"schema":{"$ref":"#/components/schemas/FindLicitacaoParams"}},{"name":"page","in":"query","description":"Número da página (zero-indexed). Ex.: 0 retorna a primeira página.","required":false,"schema":{"type":"integer","format":"int32","example":0}},{"name":"size","in":"query","description":"Quantidade de registros por página (padrão: 20).","required":false,"schema":{"type":"integer","format":"int32","example":20}},{"name":"sort","in":"query","description":"Ordenação no formato `campo,asc|desc`. Aceita múltiplos campos. Campos válidos variam por endpoint.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageLicitacaoDTO"}}}}}}},"/api/dividas-ativas":{"get":{"tags":["dividas-ativas-resource"],"operationId":"findDividasAtivas","parameters":[{"name":"params","in":"query","required":true,"schema":{"$ref":"#/components/schemas/FindDividaAtivaParams"}},{"name":"page","in":"query","description":"Número da página (zero-indexed). Ex.: 0 retorna a primeira página.","required":false,"schema":{"type":"integer","format":"int32","example":0}},{"name":"size","in":"query","description":"Quantidade de registros por página (padrão: 20).","required":false,"schema":{"type":"integer","format":"int32","example":20}},{"name":"sort","in":"query","description":"Ordenação no formato `campo,asc|desc`. Aceita múltiplos campos. Campos válidos variam por endpoint.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDividaAtivaDTO"}}}}}}}},"components":{"schemas":{"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"EmpenhoParams":{"type":"object","properties":{"entidade":{"type":"integer","description":"Código da entidade do município.","format":"int64","example":1},"exercicio":{"type":"integer","description":"Ano do exercício.","format":"int64","example":2026},"empenhoInicial":{"type":"integer","description":"Número do empenho inicial (intervalo).","format":"int64","example":1},"empenhoFinal":{"type":"integer","description":"Número do empenho final (intervalo).","format":"int64","example":9999},"id":{"type":"integer","description":"Número identificador unico do empenho.","format":"int64","example":1234},"empenho":{"type":"integer","description":"Número específico do empenho.","format":"int64","example":1234},"unidadeOrcamentaria":{"type":"string","description":"Código da unidade orçamentária.","example":"01.01.01"},"passagens":{"type":"boolean","description":"Filtra apenas empenhos de passagens.","example":false},"comprasDireta":{"type":"boolean","description":"Filtra apenas empenhos de compras direta.","example":false},"restituicoesCombustiveis":{"type":"boolean","description":"Filtra empenhos de restituições de combustíveis.","example":false},"dispensaInexigibilidade":{"type":"boolean","description":"Filtra empenhos por dispensa ou inexigibilidade.","example":false},"auxilioFinanceiro":{"type":"boolean","description":"Filtra empenhos de auxílio financeiro.","example":false},"tipoNivelDespesa":{"type":"string","description":"Tipo do nível da despesa (uso interno do filtro).","example":"3"},"nivelLei":{"type":"string","description":"Indicador de lei (LOA, LDO etc.).","example":"L"},"codigoNivelDespesa":{"type":"string","description":"Código do nível da despesa.","example":"3.3.90.30"},"search":{"type":"string","description":"Filtro RSQL. Campos: fornecedor (nome do credor), fornecedor.cnpj, id.empenho, id.exercicio, id.entidade, data, valor, anoLicitacao, noLicitacao, tipoLicitacao.compras, licitacao.id. Operadores: ==, >=, <=, !=. Combine com ' and '. Strings entre aspas simples; wildcards com *. Obrigatório — sem valor, a consulta retorna vazio.","example":"id.exercicio=='2026' and id.entidade=='1'"},"tipoBem":{"type":"string","description":"Tipo de bem (C = Consumo, P = Permanente).","example":"C"},"chapaBem":{"type":"string","description":"Chapa do bem patrimonial.","example":"ABC123"},"programatica":{"$ref":"#/components/schemas/ProgramaticaParams"},"cnpjCpf":{"type":"string","description":"CNPJ ou CPF do fornecedor (apenas dígitos).","example":"12345678901"},"ordemItemEmpenho":{"type":"integer","description":"Ordem do item no empenho.","format":"int64","example":1},"mesInicialMov":{"type":"integer","description":"Mês inicial da movimentação (1-12).","format":"int64","example":1},"mesFinalMov":{"type":"integer","description":"Mês final da movimentação (1-12).","format":"int64","example":12},"mesInicialEmissao":{"type":"integer","description":"Mês inicial da emissão (1-12).","format":"int64","example":1},"mesFinalEmissao":{"type":"integer","description":"Mês final da emissão (1-12).","format":"int64","example":12},"fonteRecurso":{"type":"string","description":"Código da fonte de recurso.","example":"1500"},"esfera":{"type":"string","description":"Esfera do recurso (F = Fiscal, S = Seguridade Social).","example":"F"},"noLiquidacao":{"type":"integer","description":"Número da liquidação.","format":"int64","example":100},"isCovid":{"type":"string","description":"Indica se é despesa relacionada à Covid (S, N).","example":"S"},"consumo":{"type":"boolean","description":"Filtra material de consumo.","example":false},"permanente":{"type":"boolean","description":"Filtra bens permanentes.","example":false},"isFundeb":{"type":"string","description":"Indica filtro do FUNDEB (S, N).","example":"S"},"nome":{"type":"string","description":"Trecho do nome do fornecedor (busca parcial).","example":"Empresa LTDA"},"dataInicial":{"type":"string","description":"Data inicial do filtro (ISO YYYY-MM-DD).","format":"date","example":"2026-01-01"},"dataFinal":{"type":"string","description":"Data final do filtro (ISO YYYY-MM-DD).","format":"date","example":"2026-12-31"},"tipoPesquisa":{"type":"string","description":"Tipo de pesquisa (uso interno do filtro).","example":"F"},"anoempenho":{"type":"integer","description":"Ano do empenho original (para restos a pagar).","format":"int64","example":2025},"restosAPagar":{"type":"boolean","description":"Filtra apenas empenhos de restos a pagar.","example":false},"empenhoList":{"type":"array","items":{"type":"integer","format":"int64"}},"apagar":{"type":"boolean"}}},"ProgramaticaParams":{"type":"object","properties":{"entidade":{"type":"integer","format":"int64"},"exercicio":{"type":"integer","format":"int64"},"orgao":{"type":"string"},"unidade":{"type":"string"},"funcao":{"type":"string"},"subFuncao":{"type":"string"},"programa":{"type":"string"},"projeto":{"type":"string"},"categoriaeconomica":{"type":"string"},"grupodespesa":{"type":"string"},"elemento":{"type":"string"},"desdobramento":{"type":"string"},"subDesdobramento":{"type":"string"},"fonteRecurso":{"type":"string"},"despesa":{"type":"string","writeOnly":true},"despesaCodigo":{"type":"string"}},"description":"Filtros programáticos aninhados (órgão, unidade, função, programa, projeto, elemento, desdobramento)."},"EmpenhosListaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"entidade":{"type":"integer","format":"int64"},"empenho":{"type":"integer","format":"int64"},"exercicio":{"type":"integer","format":"int64"},"empenhoExercicio":{"type":"string"},"data":{"type":"string","format":"date"},"fornecedor":{"type":"integer","format":"int64"},"nome":{"type":"string"},"historico":{"type":"string"},"valorEmpenhado":{"type":"number"},"valorAnulado":{"type":"number"},"valorLiquidado":{"type":"number"},"valorRetido":{"type":"number"},"valorPago":{"type":"number"},"valorAPagar":{"type":"number"},"fonteRecurso":{"type":"string"}}},"PageEmpenhosListaDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/EmpenhosListaDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"ServidorParams":{"type":"object","properties":{"nomeServidor":{"type":"string","description":"Nome ou parte do nome do servidor (busca parcial).","example":"Maria Silva"},"entidade":{"type":"integer","description":"Código da entidade do município.","format":"int64","example":1},"exercicio":{"type":"integer","description":"Ano do exercício.","format":"int64","example":2026},"matricula":{"type":"integer","description":"Matrícula numérica do servidor.","format":"int64","example":12345},"anoCompetencia":{"type":"integer","description":"Ano da competência (folha de pagamento).","format":"int64","example":2026},"mesCompetencia":{"type":"integer","description":"Mês da competência (1-12).","format":"int64","example":1},"tipoEvento":{"type":"string","description":"Tipo de evento da folha. Valores comuns: MENSAL, FERIAS, RESCISAO.","example":"MENSAL"},"tipoFolha":{"type":"integer","description":"Tipo de folha de pagamento.","format":"int64","example":1},"situacao":{"type":"string","description":"Situação funcional. Valores: Ativo(a), Aposentado(a), Cedido(a), Afastado(a).","example":"Aposentado(a)"},"cargo":{"type":"string","description":"Cargo do servidor.","example":"Auxiliar Administrativo"},"natureza":{"type":"integer","description":"Código da natureza do cargo.","format":"int64","example":1},"codigoCalculo":{"type":"integer","description":"Código do cálculo da folha.","format":"int64","example":1},"exibePonto":{"type":"string","description":"Indica se exibe ponto. Valores: S, N.","example":"S"},"lotacao":{"type":"string","description":"Lotação do servidor.","example":"Secretaria de Educação"},"classe":{"type":"string","description":"Classe funcional.","example":"A"},"valorSalarioInicial":{"type":"number","description":"Valor mínimo do salário para filtro.","example":1500.0},"valorSalarioFinal":{"type":"number","description":"Valor máximo do salário para filtro.","example":10000.0},"aposentados":{"type":"boolean","description":"Filtra apenas servidores aposentados.","example":false},"descricaoNatureza":{"type":"string","description":"Descrição da natureza da rubrica.","example":"Vencimento"},"vinculo":{"type":"string","description":"Código do vínculo do servidor.","example":"1"},"codigo":{"type":"integer","description":"Código identificador (uso geral).","format":"int64","example":100},"cpf":{"type":"string","description":"CPF do servidor (11 dígitos, sem máscara).","example":"12345678901"},"estagioVigente":{"type":"boolean","description":"Filtra estagiários com estágio vigente.","example":false},"admissaoExcepcional":{"type":"boolean","description":"Filtra admissões em caráter excepcional.","example":false}}},"HorarioFlexivelDTO":{"type":"object","properties":{"dia":{"type":"string"},"entrada1":{"type":"string","format":"date-time"},"saida1":{"type":"string","format":"date-time"},"entrada2":{"type":"string","format":"date-time"},"saida2":{"type":"string","format":"date-time"},"entrada3":{"type":"string","format":"date-time"},"saida3":{"type":"string","format":"date-time"},"entrada4":{"type":"string","format":"date-time"},"saida4":{"type":"string","format":"date-time"}}},"PageServidorDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ServidorDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"ServidorDTO":{"type":"object","properties":{"entidade":{"type":"integer","format":"int64"},"exercicio":{"type":"integer","format":"int64"},"matricula":{"type":"integer","format":"int64"},"nome":{"type":"string"},"cargo":{"type":"integer","format":"int64"},"horasSemanais":{"type":"number"},"nomeacao":{"type":"string"},"codigoCargo":{"type":"integer","format":"int64"},"descricaoCargo":{"type":"string"},"codigoLotacao":{"type":"string"},"descricaoLotacao":{"type":"string"},"codigoClasse":{"type":"integer","format":"int64"},"classe":{"type":"integer","format":"int64"},"vinculo":{"type":"string"},"descricaoClasse":{"type":"string"},"codigoNatureza":{"type":"integer","format":"int64"},"descricaoNatureza":{"type":"string"},"faixa":{"type":"string"},"situacao":{"type":"string"},"cedido":{"type":"string"},"cedidoPara":{"type":"string"},"dataAdmissao":{"type":"string","format":"date"},"dataDemissao":{"type":"string","format":"date"},"dataTransposicao":{"type":"string","format":"date"},"dataInicioContrato":{"type":"string","format":"date"},"dataFimContrato":{"type":"string","format":"date"},"localTrabalho":{"type":"string"},"horarioEntrada":{"type":"string","format":"date-time"},"horarioSaidaIntervalo":{"type":"string","format":"date-time"},"horarioEntradaIntervalo":{"type":"string","format":"date-time"},"horarioSaida":{"type":"string","format":"date-time"},"horarioEspecial":{"type":"string"},"horarioTrabalho":{"type":"string"},"definicaoClasse":{"type":"integer","format":"int64"},"dataConcessaoBeneficio":{"type":"string","format":"date"},"dataAdmissaoAtivo":{"type":"string","format":"date"},"dadosFinanceiros":{"type":"array","items":{"$ref":"#/components/schemas/ServidorDadosFinanceirosDTO"}},"formaInvestidura":{"type":"string"},"anotacoes":{"type":"array","items":{"type":"string"}},"exibeCargaHoraria":{"type":"string"},"horarioFlexivel":{"type":"array","items":{"$ref":"#/components/schemas/HorarioFlexivelDTO"}},"salarioBase":{"type":"number"},"exibePonto":{"type":"string"},"formaTrabalho":{"type":"string"},"tipoAposentadoria":{"type":"string"},"cbo":{"type":"string"},"descricaoAtividades":{"type":"string"},"tipoRemuneracao":{"type":"string"},"remuneracao":{"type":"number"},"horarioEntradaIntervaloFormated":{"type":"string"},"horarioSaidaIntervaloFormated":{"type":"string"},"horarioEntradaFormated":{"type":"string"},"horarioSaidaFormated":{"type":"string"}}},"ServidorDadosFinanceirosDTO":{"type":"object","properties":{"entidade":{"type":"integer","format":"int64"},"matricula":{"type":"integer","format":"int64"},"anoCompetencia":{"type":"integer","format":"int64"},"mesCompetencia":{"type":"integer","format":"int64"},"salarioBase":{"type":"number"},"vencimentos":{"type":"number"},"descontos":{"type":"number"},"redutorConstitucional":{"type":"number"},"outrosProventos":{"type":"number"},"tipoFolha":{"type":"integer","format":"int64"},"descricaoTipoFolha":{"type":"string"},"codigoCalculo":{"type":"integer","format":"int64"},"tipoEvento":{"type":"string"}}},"FindReceitaParams":{"type":"object","properties":{"entidade":{"type":"integer","description":"Código da entidade do município.","format":"int64","example":1},"exercicio":{"type":"integer","description":"Ano do exercício.","format":"int64","example":2026},"diasRetroativo":{"type":"integer","description":"Quantidade de dias retroativos da consulta.","format":"int32","example":30},"receita":{"type":"string","description":"Código completo da receita orçamentária.","example":"1.1.1.1.01"},"receitaStart":{"type":"string","description":"Início do código da receita (busca por prefixo).","example":"1.1"},"receitaLike":{"type":"string","description":"Trecho do código da receita (busca parcial).","example":"1.1.1"},"descricaoReceita":{"type":"string","description":"Trecho da descrição da receita (busca parcial).","example":"Imposto sobre"},"numeroDias":{"type":"integer","description":"Janela em dias para cálculos de retroatividade.","format":"int64","example":365},"data":{"type":"string","description":"Data de referência da consulta (formato ISO).","example":"2026-06-30"},"dataInicial":{"type":"string","description":"Data inicial do filtro (ISO YYYY-MM-DD).","format":"date","example":"2026-01-01"},"dataFinal":{"type":"string","description":"Data final do filtro (ISO YYYY-MM-DD).","format":"date","example":"2026-12-31"},"fonteRecurso":{"type":"integer","description":"Código da fonte de recurso.","format":"int64","example":1500},"descricaoFonteRecurso":{"type":"string","description":"Descrição da fonte de recurso (busca parcial).","example":"Recursos Próprios"},"covid":{"type":"string","description":"Indica filtro Covid. Valores: S, N.","example":"S"},"fonteRecursoRateio":{"type":"integer","description":"Código da fonte de recurso usada em rateio.","format":"int64","example":1500},"fundeb":{"type":"boolean","description":"Filtra apenas receitas vinculadas ao FUNDEB.","example":false},"execucao":{"type":"boolean","description":"Considera apenas receitas em execução (já arrecadadas).","example":false},"tipoPesquisa":{"type":"string","description":"Tipo de pesquisa (uso interno do filtro).","example":"F"},"consideraRetencaoResumoAnual":{"type":"string","description":"Considera retenções no resumo anual. Valores: S, N.","example":"S"},"fonteSTNCodigos":{"uniqueItems":true,"type":"array","description":"Códigos STN (Sistema Tesouro Nacional) das fontes.","example":"1500,1510","items":{"type":"string","description":"Códigos STN (Sistema Tesouro Nacional) das fontes.","example":"1500,1510"}}}},"ReceitaDTO":{"type":"object","properties":{"entidade":{"type":"string"},"receita":{"type":"string"},"descricao":{"type":"string"},"fonteRecurso":{"type":"string"},"fonteRecursoRateio":{"type":"string"},"descricaoFonte":{"type":"string"},"idTipoOperacaoReceita":{"type":"integer","format":"int32"},"nivel":{"type":"integer","format":"int64"},"inicio":{"type":"integer","format":"int64"},"tamanho":{"type":"integer","format":"int64"},"mes":{"type":"integer","format":"int32"},"aceitaMovimentacao":{"type":"string"},"valorOrcado":{"type":"number"},"valorPrevisto":{"type":"number"},"valorAtualizado":{"type":"number"},"valorArrecadado":{"type":"number"},"valorEmpenhado":{"type":"number"},"valorLiquidado":{"type":"number"},"valorLancado":{"type":"number"},"valorPago":{"type":"number"},"data":{"type":"string","format":"date"},"repasseRecebido":{"type":"number"},"repasseConcedido":{"type":"number"},"valorDeducaoInicial":{"type":"number"},"valorDeducao":{"type":"number"},"valorRealizadoLiquido":{"type":"number"},"valorOrcadoAtualizado":{"type":"number"}}},"LiquidacaoParams":{"type":"object","properties":{"id":{"type":"integer","description":"Identificador único da liquidação.","format":"int64","example":1},"entidade":{"type":"integer","description":"Código da entidade do município.","format":"int64","example":1},"exercicio":{"type":"integer","description":"Ano do exercício.","format":"int64","example":2026},"cnpjCpf":{"type":"string","description":"CNPJ ou CPF do fornecedor (apenas dígitos).","example":"12345678901"},"nome":{"type":"string","description":"Trecho do nome do fornecedor (busca parcial).","example":"Empresa LTDA"},"notaFiscal":{"type":"string","description":"Número da nota fiscal.","example":"12345"},"dataInicialMovimentacao":{"type":"string","description":"Data inicial da movimentação (ISO YYYY-MM-DD).","format":"date","example":"2026-01-01"},"dataFinalMovimentacao":{"type":"string","description":"Data final da movimentação (ISO YYYY-MM-DD).","format":"date","example":"2026-12-31"},"dataInicial":{"type":"string","description":"Data inicial do filtro (ISO YYYY-MM-DD).","format":"date","example":"2026-01-01"},"dataFinal":{"type":"string","description":"Data final do filtro (ISO YYYY-MM-DD).","format":"date","example":"2026-12-31"},"order":{"type":"string","description":"Campo de ordenação adicional (uso interno do filtro).","example":"data"},"empenho":{"type":"integer","description":"Número do empenho.","format":"int64","example":1234},"empenhoExercicio":{"type":"integer","description":"Ano do exercício do empenho.","format":"int64","example":2026},"isPorExercicio":{"type":"boolean","description":"Filtra liquidações por exercício do empenho.","example":false},"isPendentes":{"type":"boolean","description":"Filtra apenas liquidações pendentes (não pagas).","example":false},"isSomentePagos":{"type":"boolean","description":"Filtra apenas liquidações já pagas.","example":false},"isSomenteComOrdemPagamento":{"type":"boolean","description":"Filtra apenas liquidações com ordem de pagamento.","example":false},"isSomenteComOrdensNaoCanceladas":{"type":"boolean","description":"Filtra apenas liquidações com ordens não canceladas.","example":false},"noOrdem":{"type":"integer","description":"Número da ordem de pagamento.","format":"int64","example":100},"sequencia":{"type":"integer","description":"Sequência da ordem de pagamento.","format":"int64","example":1},"liquidacao":{"type":"integer","description":"Número da liquidação.","format":"int64","example":100},"isCovid":{"type":"string","description":"Indica filtro Covid (S, N).","example":"S"},"isFundeb":{"type":"string","description":"Indica filtro FUNDEB (S, N).","example":"S"},"orgao":{"type":"string","description":"Código do órgão.","example":"01"},"unidade":{"type":"string","description":"Código da unidade orçamentária.","example":"01"},"funcao":{"type":"string","description":"Código da função.","example":"12"},"subFuncao":{"type":"string","description":"Código da subfunção.","example":"361"},"programa":{"type":"string","description":"Código do programa.","example":"0001"},"projeto":{"type":"string","description":"Código do projeto/atividade.","example":"1234"},"categoriaeconomica":{"type":"string","writeOnly":true},"grupodespesa":{"type":"string","description":"Código do Grupo Despesa.","example":"4"},"elemento":{"type":"string","description":"Código do elemento de despesa.","example":"3.3.90.30"},"desdobramento":{"type":"string","description":"Código do desdobramento.","example":"01"},"subDesdobramento":{"type":"string","description":"Código do subdesdobramento.","example":"01"},"fonteRecurso":{"type":"string","description":"Código da fonte de recurso.","example":"1500"},"tipoContrato":{"type":"string","description":"Código do tipo de contrato.","example":"1"},"tipoContratoContabil":{"type":"string","description":"Código do tipo de contrato contábil.","example":"1"},"grupoDespesas":{"type":"string"},"categoriaEconomica":{"type":"string"}}},"LiquidacaoDTO":{"type":"object","properties":{"ordemFonteRecurso":{"type":"integer","format":"int64"},"fonteRecurso":{"type":"string"},"data":{"type":"string","format":"date"},"dataVencimento":{"type":"string","format":"date"},"dataPagamento":{"type":"string","format":"date"},"exercicioLiquidacao":{"type":"integer","format":"int64"},"noLiquidacao":{"type":"integer","format":"int64"},"entidade":{"type":"integer","format":"int64"},"exercicio":{"type":"integer","format":"int64"},"empenho":{"type":"integer","format":"int64"},"empenhoExercicio":{"type":"string"},"tipoLicitacao":{"type":"string"},"licitacao":{"type":"string"},"fornecedor":{"type":"string"},"notasFiscais":{"type":"string"},"valor":{"type":"number"},"saldo":{"type":"number"},"processo":{"type":"string"},"noOrdem":{"type":"integer","format":"int64"},"sequencia":{"type":"integer","format":"int64"},"valorParametro":{"type":"number"},"dataLiquidacao":{"type":"string","format":"date"},"tipoContrato":{"type":"string"},"tipoContratoContabil":{"type":"string"},"observacao":{"type":"string"},"retido":{"type":"number"}}},"PageLiquidacaoDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/LiquidacaoDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"FindLicitacaoParams":{"type":"object","properties":{"oxyId":{"type":"string","description":"Identificador único da licitação no sistema Oxy (UUID).","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"entidade":{"type":"integer","description":"Código da entidade do município.","format":"int64","example":1},"exercicio":{"type":"integer","description":"Ano do exercício.","format":"int64","example":2026},"tipoLicitacao":{"type":"integer","description":"Tipo da licitação (compõe a chave junto com licitação).","format":"int64","example":1},"licitacao":{"type":"integer","description":"Número sequencial da licitação no exercício.","format":"int64","example":100},"modalidade":{"type":"integer","description":"Modalidade da licitação (1 = Concorrência, 2 = Tomada de Preços, 3 = Convite, 5 = Pregão, 8 = Dispensa, etc.).","format":"int64","example":8},"numeroLicitacao":{"type":"integer","description":"Número da licitação informado pelo órgão.","format":"int64","example":42},"numeroProcesso":{"type":"integer","description":"Número do processo administrativo associado.","format":"int64","example":12345},"situacao":{"type":"string","description":"Situação da licitação. Valores: Aguardando Abertura, Em Andamento, Adjudicada, Homologada, Anulada, Deserta, Fracassada, Revogada, Suspensa.","example":"Em Andamento"},"evento":{"type":"string","description":"Evento da licitação (uso interno do filtro).","example":"ABERTURA"},"objeto":{"type":"string","description":"Trecho do objeto da licitação (busca parcial).","example":"Aquisição de material de escritório"},"dataAbertura":{"type":"string","description":"Data de abertura exata (ISO YYYY-MM-DD).","format":"date","example":"2026-05-15"},"dataAberturaMaior":{"type":"string","description":"Filtro: licitações abertas a partir desta data (ISO YYYY-MM-DD).","format":"date","example":"2026-01-01"},"dataAberturaInicio":{"type":"string","description":"Início do intervalo de data de abertura (ISO datetime).","format":"date-time"},"dataAberturaFim":{"type":"string","description":"Fim do intervalo de data de abertura (ISO datetime).","format":"date-time"},"natureza":{"type":"string","description":"Natureza da licitação (busca por prefixo na descrição).","example":"Bens e Serviços"},"cnpjCpf":{"type":"string","description":"CNPJ ou CPF de fornecedor participante.","example":"12345678901"},"isCovid":{"type":"string","description":"Indica filtro Covid (S, N).","example":"S"},"aplicaLei14133":{"type":"string","description":"Indica licitações regidas pela Lei 14.133/2021 (S, N).","example":"S"},"ignoraExercicioLogado":{"type":"boolean","description":"Ignora filtro de exercício logado e considera todos os anos.","example":false},"ignoraExercicioLogadoProcAdm":{"type":"boolean","description":"Ignora filtro de exercício logado nos processos administrativos.","example":true},"ignoraEntidadeLogada":{"type":"boolean","description":"Ignora filtro de entidade logada e considera todas.","example":false},"processoAdmId":{"type":"string","description":"ID do processo administrativo (UUID).","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440001"},"anoNadEmpenho":{"type":"integer","description":"Ano do empenho de NAD (Nota de Aprovação de Despesa).","format":"int64","example":2026},"noNadEmpenho":{"type":"integer","description":"Número do empenho de NAD.","format":"int64","example":100},"empenho":{"type":"integer","description":"Número do empenho associado.","format":"int64","example":1234},"ataDeAdesao":{"type":"string","description":"Filtra apenas atas de adesão (S, N).","example":"S"}}},"LicitacaoDTO":{"type":"object","properties":{"idOxy":{"type":"string","format":"uuid"},"entidade":{"type":"integer","format":"int64"},"nomeEntidade":{"type":"string"},"exercicio":{"type":"integer","format":"int64"},"tipoLicitacao":{"type":"integer","format":"int64"},"licitacao":{"type":"integer","format":"int64"},"displayLicitacao":{"type":"string"},"descricao":{"type":"string"},"numeroLicitacao":{"type":"integer","format":"int64"},"dataPublicacao":{"type":"string","format":"date"},"dataAbertura":{"type":"string","format":"date"},"horarioAbertura":{"type":"string"},"visualizaPortal":{"type":"string"},"tipoCancelamento":{"type":"string"},"natureza":{"type":"string"},"objeto":{"type":"string"},"protocolo":{"type":"integer","format":"int64"},"anoProtocolo":{"type":"integer","format":"int64"},"displayProtocolo":{"type":"string"},"valorMaximo":{"type":"number"},"totalVencido":{"type":"number"},"hasRecurso":{"type":"string"},"observacao":{"type":"string"},"isCovid":{"type":"string"},"formaApuracao":{"type":"string"},"tipoJulgamento":{"type":"string"},"tipoParticipacao":{"type":"string"},"numeroInfOriginal":{"type":"integer","format":"int64"},"anoInfOriginal":{"type":"integer","format":"int64"},"dataInfOriginal":{"type":"string","format":"date"},"modalidadeInfOriginal":{"type":"integer","format":"int64"},"entidadeInfOriginal":{"type":"string"},"dataPubInfOriginal":{"type":"string","format":"date"},"obsInfOriginal":{"type":"string"},"aplicaLei14133":{"type":"string"},"tcemtTipoProcLicit":{"type":"integer","format":"int64"},"idTipoCompra":{"type":"string"},"descTipoCompra":{"type":"string"},"dataInicialProposta":{"type":"string","format":"date"},"horaInicialProposta":{"type":"string"},"dataFinalProposta":{"type":"string","format":"date"},"horaFinalProposta":{"type":"string"},"displayProcessoAdm":{"type":"string"},"processoAdmId":{"type":"string","format":"uuid"},"orcamentoSigiloso":{"type":"string"},"ataDeAdesao":{"type":"string"},"fundamentoLegal":{"type":"string"},"numeroLei":{"type":"string"},"anoLei":{"type":"string"},"artigoLei":{"type":"string"},"incisoLei":{"type":"string"},"tipoCancelamentoEvento":{"type":"string","enum":["AED","AND","ANO","EFC","EFH","EFI","ENC","ESC","IME","PUB","PUE","RCL","REE","REI","REO","RHA","RHP","RPP","RPR","SDJ","SUM","SUO","HML"]},"caronaEntidadeOrigemNome":{"type":"string"},"caronaEntidadeOrigemCnpjCpf":{"type":"string"},"caronaNumeroLicitacao":{"type":"integer","format":"int64"},"caronaExercicio":{"type":"integer","format":"int64"},"caronaDataEmissao":{"type":"string","format":"date"},"caronaDataPublicacao":{"type":"string","format":"date"},"caronaObservacao":{"type":"string"},"caronaModalidadeDescricao":{"type":"string"},"dataMaximaCredenciamento":{"type":"string","format":"date"},"mostraLeiEdital":{"type":"boolean"},"mostraLeiAta":{"type":"boolean"},"mostraLeiContrato":{"type":"boolean"}}},"PageLicitacaoDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/LicitacaoDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"FindDividaAtivaParams":{"type":"object","properties":{"entidadeContabil":{"type":"integer","description":"Código da entidade contábil do município.","format":"int64","example":1},"somenteAjuizado":{"type":"boolean","description":"Filtra apenas dívidas com processos ajuizados.","example":false},"nome":{"type":"string","description":"Nome do contribuinte (busca exata).","example":"Maria Silva"},"nomeFiltro":{"type":"string","description":"Trecho do nome do contribuinte (busca parcial).","example":"Maria"},"cnpjCpf":{"type":"string","description":"CNPJ ou CPF do contribuinte (com ou sem máscara).","example":"12345678901"},"exercicioDivida":{"type":"integer","description":"Exercício de inscrição da dívida.","format":"int32","example":2025},"valorMinimo":{"type":"number","description":"Valor mínimo da dívida (filtro).","example":100.0},"valorMaximo":{"type":"number","description":"Valor máximo da dívida (filtro).","example":10000.0},"showValor":{"type":"boolean","description":"Indica se exibe o valor da dívida na resposta.","example":true},"showCpfCnpjCompleto":{"type":"boolean","description":"Indica se exibe CPF/CNPJ completo (sem mascarar).","example":false},"showNomeCompleto":{"type":"boolean","description":"Indica se exibe nome completo (sem abreviação).","example":false},"exercicio":{"type":"integer","description":"Exercício corrente.","format":"int64","example":2026},"idContribuinte":{"type":"string","description":"IDs de contribuintes separados por vírgula.","example":"1,2,3"},"valorMinimoOpt":{"type":"number"},"entidadeAiseOpt":{"type":"integer","format":"int64"},"valorMaximoOpt":{"type":"number"},"cnpjCpfNormalizado":{"type":"string"},"exercicioDividaOpt":{"type":"integer","format":"int32"},"entidade":{"type":"integer","format":"int64"},"idsContribuintesList":{"type":"array","items":{"type":"integer","format":"int64"}},"entidadeContabilOpt":{"type":"integer","format":"int64"}}},"DividaAtivaDTO":{"type":"object","properties":{"idsContribuintes":{"type":"string"},"nome":{"type":"string"},"cnpjCpf":{"type":"string"},"valor":{"type":"number"}}},"PageDividaAtivaDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/DividaAtivaDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}}}}}